$navbar-text-color: rgb(97, 217, 251);

.navbar {
  background: gray;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar-item {
  display: inline-block;
  padding:5px;
  margin: 5px;
  
  a, a:visited{
    text-decoration: none;
    color: $navbar-text-color;
  }
  &.active{
    font-weight: bold;
    text-decoration: underline;
    background-color: darken($navbar-text-color, 50%);
  }
  @include transition-ease;
  &:hover{
    background-color: darken($navbar-text-color, 60%);
  }
}

//@media (prefers-reduced-motion: no-preference) {
.navbar-logo {
  height: 40px;
  pointer-events: none;
  @include animate(spin-cw, 5s, $iteration: infinite, $timing: linear);
}
//}

.navbar-menu{
  $box-size: 20px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: $box-size;
  height: $box-size;
  cursor: pointer;

  &-burger {
    position: absolute;
    right: 0px;
    top: 10px;
    width: $box-size;
    height: 2px;
    background: $navbar-text-color;
    @include transition-ease;

    &::before{
      content: '';
      position: absolute;
      top: -5px;
      width: $box-size;
      height: 2px;
      background: $navbar-text-color;
    }
    &::after{
      content: '';
      position: absolute;
      top: 5px;
      width: $box-size - 5px;
      height: 2px;
      background: $navbar-text-color;
    }

    &.open {
      transform: rotate(360deg);
      background: transparent;

      &::before{
        transform: rotate(45deg) translate(3px, 3px);
      }

      &::after{
        width: $box-size;
        transform: rotate(-45deg) translate(4px, -4px);
      }
    }
  }
}